<main class="max-w-full mx-auto px-6 pb-6">
    <div class="w-full h-[64vh] mb-4 overflow-hidden rounded-xl relative">
        <img src="images/beach_1.jpg" alt="Beach house" class="object-cover w-full h-full">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
        <div class="py-6 pr-6 col-span-3">
            <h1 class="mb-4 text-4xl">Property name</h1>

            <span class="mb-6 block text-lg text-gray-600">
                4 guests - 2 bedrooms - 1 bathroom
            </span>

            <hr />

            <div class="py-6 flex items-center space-x-4">
                <img src="images/profile_pic_1.jpg" alt="The user name" class="rounded-full" width="50" height="50">

                <p><strong>Johnn Doe</strong> is your host</p>
            </div>

            <hr />

            <p class="mt-6 text-lg">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quidem eos fugit sequi hic vitae odit ut, doloremque nulla doloribus dolores impedit sint, cum iste velit temporibus ad maxime facere. 
            </p>
        </div>

        <div class="col-span-2">
            <app-reservation-sidebar />
        </div>
    </div>
</main>
