<main class="max-w-full mx-auto px-6 pb-6">
    <!-- Image principale -->
    <div class="w-full h-[64vh] mb-4 overflow-hidden rounded-xl relative">
        <img [src]="property?.image_url" [alt]="property?.title" class="object-cover w-full h-full">
    </div>

    <!-- Bande d'images additionnelles -->
    <div *ngIf="property && property.additionnal_images && property.additionnal_images.length > 0" class="flex justify-center space-x-4 mb-6 overflow-x-auto bg-black bg-opacity-40 p-2 rounded-xl">
        <!-- Affichage des miniatures -->
        <img
            *ngFor="let image of property?.additionnal_images"
            [src]="image.image_url"
            [alt]="property.title"
            class="object-cover w-24 h-24 cursor-pointer rounded-md hover:opacity-80"
            (click)="changeMainImage(image.image_url)"
        >
    </div>
    

    <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
        <div class="py-6 pr-6 col-span-3">
            <h1 class="mb-4 text-4xl">{{ property?.title }}</h1>

            <span class="mb-6 block text-lg text-gray-600">
                {{ property?.guests }} guests - {{ property?.bedrooms }} bedrooms - {{ property?.bathrooms }} bathroom
            </span>

            <span class="mb-6 block text-lg text-gray-600">
                Place: {{ formatLocation(property?.country ?? '') }} 
            </span>

            <hr />

            <a class="py-6 flex items-center space-x-4 cursor-pointer" [routerLink]="['/landlord', property?.landlord?.id]">
                <img src="images/profile_pic_1.jpg" alt="The user name" class="rounded-full" width="50" height="50">

                <p><strong>{{ property?.landlord?.name ? property?.landlord?.name : property?.landlord?.email }}</strong> is your host</p>
            </a>

            <hr />

            <p class="mt-6 text-lg">
                {{ property?.description }}
        </div>

        <div class="col-span-2">
            <app-reservation-sidebar [id]="property?.id || ''" [guests]="property?.guests || 1" [price_per_night]="property?.price_per_night || 0"/>
        </div>
    </div>
</main>
