<nav class="w-full fixed top-0  py-6 border-b bg-white z-10">
    <div class="max-w-full mx-auto px-6 2xl:px-24">
        <div class="w-full flex justify-between items-center">
            <a routerLink=""><img src="images/logo.png" alt="DjangoBnb Logo" [width]="180" [height]="38"></a>
            <div class="flex space-x-6">
                <app-search-filters/>
            </div>
            <div class="flex items-center space-x-6">
                <app-add-propertie-button />
                <app-user-nav />
            </div>
        </div>
    </div>
</nav>