<h2 class="mb-6 text-2xl" *ngIf="currentStep === 'location'">Where do you want to go?</h2>
<h2 class="mb-6 text-2xl" *ngIf="currentStep === 'guests'">How many guest do you want?</h2>

    
    <div *ngIf="currentStep === 'location'">
        <form [formGroup]="locationForm">

            <div class="pt-3 pb-6 space-y-4">
                <!-- Departement field -->
                <div class="flex flex-col space-y-2">
                    <label for="">Country</label>
                    <input 
                        type="text"
                        class="w-full p-4 border border-gray-600 rounded-xl" 
                        readonly               
                    />
                </div>
            </div>
    
            <div class="flex flex-col space-y-2 pb-6">
                <label for="departement">Select a Departement</label>
                <!-- <select
                    (change)="onDepartementChange($event)"
                    class="w-full p-4 border border-gray-600 rounded-xl"
                >
                    <option value="" [defaultSelected]="!isDepartementSelected" [ngClass]="{ 'hidden': isDepartementSelected }" disabled>Select</option>
                    <option *ngFor="let departement of data" [value]="departement.id_departement">
                        {{ departement.libelle_departement }}
                    </option>
    
                </select> -->
            </div>
                    
            <!-- Select Commune -->
            <!-- <div *ngIf="selectedDepartement" class="flex flex-col space-y-2 pb-6">
                <label for="commune">Select a Commune</label>
                <select (change)="onCommuneChange($event)" class="w-full p-4 border border-gray-600 rounded-xl">
                    <option value="" [defaultSelected]="!isCommuneSelected" [ngClass]="{ 'hidden': isCommuneSelected }" disabled>Select</option>
                    <option *ngFor="let commune of selectedDepartement?.communes" [value]="commune.id_commune">
                        {{ commune.libelle_commune }}
                    </option>
                </select>
            </div> -->
    
            <!-- Select Arrondissement -->
            <!-- <div *ngIf="selectedCommune" class="flex flex-col space-y-2 pb-6">
                <label for="arrondissement">Select an Arrondissement</label>
                <select (change)="onArrondissementChange($event)" class="w-full p-4 border border-gray-600 rounded-xl">
                    <option value="" [defaultSelected]="!isArrondissementSelected" [ngClass]="{ 'hidden': isArrondissementSelected }" disabled>Select</option>
                    <option *ngFor="let arrondissement of selectedCommune?.arrondissements" [value]="arrondissement.id_arrondissement">
                        {{ arrondissement.libelle_arrondissement }}
                    </option>
                </select>
            </div> -->
    
            <!-- Display selected quartier -->
            <!-- <div *ngIf="selectedArrondissement" class="flex flex-col space-y-2 pb-6">
                <label for="quarter">Select a Quartier</label>
                <select 
                    class="w-full p-4 border border-gray-600 rounded-xl"
                    formControlName="quarter"
                    (change)="onQuartierChange($event)"
                >
                    <option value="" [defaultSelected]="!isQuartierSelected" [ngClass]="{ 'hidden' : isQuartierSelected }" disabled>Select</option>
                    <option *ngFor="let quartier of selectedArrondissement?.quartiers" [value]="quartier.id_quartier"
                    [selected]="quartier.id_quartier === selectedQuartier?.id_quartier">
                        {{ quartier.libelle_quartier }}
                    </option>
                </select>
            </div> -->

        </form>
    </div>

    <div *ngIf="currentStep === 'guest'">
        
    </div>