<main class="max-w-full mx-auto px-6 pb-6">
    <h1 class="my-6 text-2xl">My reservation</h1>

    <div class="space-y-4">

        <div class="p-5 grid grid-cols-1 md:grid-cols-4 gap-4 shadow-md border border-gray-300 rounded-xl">
            <div class="col-span-1">
                <div class="relative overflow-hidden aspect-square rounded-xl">
                    <img src="images/beach_1.jpg" class="hover:scale-110 object-cover transition h-full w-full" alt="Beach house">
                </div>
            </div>

            <div class="col-span-1 md:col-span-3">
                <h2 class="mb-4 text-xl">Property name</h2>
                <p class="mb-2"><strong>Check in date:</strong> 16/11/2024</p>
                <p class="mb-2"><strong>Check out date:</strong> 18/11/2024</p>

                <p class="mb-2"><strong>Nomber of nights:</strong> 2</p>
                <p class="mb-2"><strong>Total price:</strong> $200</p>
                
                <div class="mt-6 inline-block cursor-pointer py-4 px-6 bg-airbnb text-white rounded-xl">Go to property</div>
            </div>
        </div>

        <div class="p-5 grid grid-cols-1 md:grid-cols-4 gap-4 shadow-md border border-gray-300 rounded-xl">
            <div class="col-span-1">
                <div class="relative overflow-hidden aspect-square rounded-xl">
                    <img src="images/beach_1.jpg" class="hover:scale-110 object-cover transition h-full w-full" alt="Beach house">
                </div>
            </div>

            <div class="col-span-1 md:col-span-3">
                <h2 class="mb-4 text-xl">Property name</h2>
                <p class="mb-2"><strong>Check in date:</strong> 16/11/2024</p>
                <p class="mb-2"><strong>Check out date:</strong> 18/11/2024</p>

                <p class="mb-2"><strong>Nomber of nights:</strong> 2</p>
                <p class="mb-2"><strong>Total price:</strong> $200</p>

                <div class="mt-6 inline-block cursor-pointer py-4 px-6 bg-airbnb text-white rounded-xl">Go to property</div>
            </div>
        </div>

    </div>
</main>
