<div class="pt-3 cursor-pointer pb-6 flex items-center space-x-12 overflow-y-auto hide-scrollbar">
    <div class="pb-4 flex flex-col items-center space-y-2 border-b-2 border-white opacity-60 hover:opacity-100 hover:border-gray-200" (click)="setCategory('undefined')">
        <img src="images/icons-category/chamber.png" alt="" width="20" height="20">
        <span class="text-sm">All</span>
    </div>

    <div class="pb-4 flex flex-col items-center space-y-2 border-b-2 border-white opacity-60 hover:opacity-100 hover:border-gray-200" (click)="setCategory('Beach')">
        <img src="images/icons-category/chamber.png" alt="" width="20" height="20">
        <span class="text-sm">Beach</span>
    </div>

    <div class="pb-4 flex flex-col items-center space-y-2 border-b-2 border-white opacity-60 hover:opacity-100 hover:border-gray-200" (click)="setCategory('Chamber')">
        <img src="images/icons-category/chamber.png" alt="" width="20" height="20">
        <span class="text-sm">Chamber</span>
    </div>
    
</div>