/* Cache la barre de défilement mais permet le défilement */
.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Cache la barre de défilement */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Pour IE et Edge */
    scrollbar-width: none;  /* Pour Firefox */
  }
  