<div class="max-w-full mx-auto px-6 pb-6">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <!-- Section Aside -->
        <aside class="col-span-1 mb-4 h-full">
            <div class="flex flex-col items-center p-6 rounded-xl border border-gray-300 shadow-xl h-full">
                <img src="images/profile_pic_1.jpg" alt="Landlord name" width="200" height="200" class="rounded-full">
                <h1 class="mt-6 text-2xl">Landlord name</h1>
                <div class="mt-6 cursor-pointer py-4 px-6 bg-airbnb hover:bg-airbnb-dark transition text-white rounded-xl">
                    Contact
                </div>
            </div>
        </aside>
        <!-- Section Main -->
        <div class="col-span-1 md:col-span-3 pl-0 md:pl-6 h-full">
            <div class="gap-6">
                <app-properties class="h-full"></app-properties>
            </div>
        </div>
    </div>
</div>
