<div class="pt-3 pb-6 max-h-[400px] overflow-y-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 items-center hide-scrollbar">
  <div
  (click)="selectCategory('Beach')"
    class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
    [ngClass]="{'border-gray-800': category() === 'Beach'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Beach</span>
  </div>

  <div
  (click)="selectCategory('Villas')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Villas'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Villas</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Tiny homes')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Tiny homes'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Tiny homes</span>
  </div>


  <div
    (click)="selectCategory('Mountain')"
    class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
    [ngClass]="{'border-gray-800': category() === 'Mountain'}"
  >
    <img src="images/icons-category/chamber.png" alt="" width="20" height="20" />
    <span class="text-sm">Mountain</span>
  </div>

  <div
    (click)="selectCategory('City')"
    class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
    [ngClass]="{'border-gray-800': category() === 'City'}"
  >
    <img src="images/icons-category/chamber.png" alt="" width="20" height="20" />
    <span class="text-sm">City</span>
  </div>

  <div
    (click)="selectCategory('Countryside')"
    class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
    [ngClass]="{'border-gray-800': category() === 'Countryside'}"
  >
    <img src="images/icons-category/chamber.png" alt="" width="20" height="20" />
    <span class="text-sm">Countryside</span>
  </div>

  <div
    (click)="selectCategory('Lake')"
    class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
    [ngClass]="{'border-gray-800': category() === 'Lake'}"
  >
    <img src="images/icons-category/chamber.png" alt="" width="20" height="20" />
    <span class="text-sm">Lake</span>
  </div>
  
</div>
