<div class="pt-3 cursor-pointer pb-6 flex items-center space-x-12 overflow-y-auto hide-scrollbar">
  <div
  (click)="selectCategory('Beach')"
    class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
    [ngClass]="{'border-gray-800': category() === 'Beach'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Beach</span>
  </div>

  <div
  (click)="selectCategory('Villas')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Villas'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Villas</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Cabins')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Cabins'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Cabins</span>
  </div>

  <div
  (click)="selectCategory('Tiny homes')"
  class="pb-4 flex flex-col items-center space-y-2 border-b-2 opacity-60 hover:opacity-100 hover:border-gray-200"
  [ngClass]="{'border-gray-800': category() === 'Tiny homes'}"
  >
    <img
      src="images/icons-category/chamber.png"
      alt=""
      width="20"
      height="20"
    />
    <span class="text-sm">Tiny homes</span>
  </div>

</div>
